<%- include("partials/header") %>

 <div class="row">
    <div class="yelp-form">
		<h1 class="book">Book Event</h1>
        <form action="/event" method="post">
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email">
             </div>
			<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">
				Submit!
			</button>
			</div>
		</form>
    </div>
</div>


<%- include("partials/footer") %>

